.history-container {
  padding: 20px;
}

.order-card {
  margin-bottom: 20px;
}

.food-image img,
.chef-image img {
  border-radius: 12px 12px 0 0;
  width: 10%;
  height: 180px;
  object-fit: cover;
  display: block;
  padding: 10px;
  background-color: #f5f5f5;
}

.chef-image {
  margin-bottom: 15px;
}